<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <title>ふぁぼがぞう</title>
</head>
<body>
<p>
    {% if login %}ようこそ{{ user.ScreenName }}さん{% else %}<a href="/login">登録する</a>{% endif %}
</p>

<div id="timeline">
    {% for tweet in tweets %}
    <blockquote class="twitter-tweet" lang="ja">
        <a href="https://twitter.com/{{tweet.ScreenName}}/status/{{tweet.Id}}"></a>
    </blockquote>
    {% endfor %}
</div>

</body>
</html>