<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <title>ふぁぼがぞう</title>
</head>
<body>
<h1>みんな大好き画像付ついーと！</h1>
<p>
    このサービスはRTしたくてもえっちくて出来ない///という欲求を満たすために開発されてました。
    サービスに登録してるユーザー様のfavった画像付きのtweetがそれなりに表示されます。
    サービスから登録を外したい方はtwitterの設定からサービスを停止して下さい。
</p>
<p>
    {% if login %}ようこそ{{ user.ScreenName }}さん{% else %}<a href="/login">登録する</a>{% endif %}
</p>

<div id="timeline">
    {% for tweet in tweets %}
    <blockquote class="twitter-tweet" lang="ja">
        <a href="https://twitter.com/{{tweet.ScreenName}}/status/{{tweet.Id}}"></a>
    </blockquote>
    {% endfor %}
</div>

</body>
</html>